<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>osJava</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>servlets.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/learning/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>servlets.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/learning/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamManageServlet</display-name>
    <servlet-name>ExamManageServlet</servlet-name>
    <servlet-class>servlets.ExamManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamManageServlet</servlet-name>
    <url-pattern>/learning/ExamManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LectorServlet</display-name>
    <servlet-name>LectorServlet</servlet-name>
    <servlet-class>servlets.LectorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LectorServlet</servlet-name>
    <url-pattern>/learning/LectorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>servlets.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/learning/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OptionServlet</display-name>
    <servlet-name>OptionServlet</servlet-name>
    <servlet-class>servlets.OptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionServlet</servlet-name>
    <url-pattern>/learning/OptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUsersServlert</display-name>
    <servlet-name>AddUsersServlert</servlet-name>
    <servlet-class>servlets.AddUsersServlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUsersServlert</servlet-name>
    <url-pattern>/zhuce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestManageServlet</display-name>
    <servlet-name>TestManageServlet</servlet-name>
    <servlet-class>servlets.TestManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestManageServlet</servlet-name>
    <url-pattern>/learning/TestManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostingServlet</display-name>
    <servlet-name>PostingServlet</servlet-name>
    <servlet-class>servlets.PostingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostingServlet</servlet-name>
    <url-pattern>/learning/PostingServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterFilter</display-name>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Posting_InnerServlet</display-name>
    <servlet-name>Posting_InnerServlet</servlet-name>
    <servlet-class>servlets.Posting_InnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Posting_InnerServlet</servlet-name>
    <url-pattern>/learning/Posting_InnerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPostingServlet</display-name>
    <servlet-name>NewPostingServlet</servlet-name>
    <servlet-class>servlets.NewPostingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPostingServlet</servlet-name>
    <url-pattern>/learning/NewPostingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPostingServlet</display-name>
    <servlet-name>MyPostingServlet</servlet-name>
    <servlet-class>servlets.MyPostingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPostingServlet</servlet-name>
    <url-pattern>/learning/MyPostingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPostingDelServlet</display-name>
    <servlet-name>MyPostingDelServlet</servlet-name>
    <servlet-class>servlets.MyPostingDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPostingDelServlet</servlet-name>
    <url-pattern>/learning/MyPostingDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendAddServlet</display-name>
    <servlet-name>FriendAddServlet</servlet-name>
    <servlet-class>servlets.FriendAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendAddServlet</servlet-name>
    <url-pattern>/learning/FriendAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveWordsServlet</display-name>
    <servlet-name>LeaveWordsServlet</servlet-name>
    <servlet-class>servlets.LeaveWordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveWordsServlet</servlet-name>
    <url-pattern>/learning/LeaveWordsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>My_IndexServlet</display-name>
    <servlet-name>My_IndexServlet</servlet-name>
    <servlet-class>servlets.My_IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>My_IndexServlet</servlet-name>
    <url-pattern>/learning/My_IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouMessageServlet</display-name>
    <servlet-name>HouMessageServlet</servlet-name>
    <servlet-class>servlets.HouMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouMessageServlet</servlet-name>
    <url-pattern>/learning/HouMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouMessageChangeServlet</display-name>
    <servlet-name>HouMessageChangeServlet</servlet-name>
    <servlet-class>servlets.HouMessageChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouMessageChangeServlet</servlet-name>
    <url-pattern>/learning/HouMessageChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouMessageDeleteServlet</display-name>
    <servlet-name>HouMessageDeleteServlet</servlet-name>
    <servlet-class>servlets.HouMessageDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouMessageDeleteServlet</servlet-name>
    <url-pattern>/learning/HouMessageDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouMessageAddServlet</display-name>
    <servlet-name>HouMessageAddServlet</servlet-name>
    <servlet-class>servlets.HouMessageAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouMessageAddServlet</servlet-name>
    <url-pattern>/learning/HouMessageAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouMessageSeeServlet</display-name>
    <servlet-name>HouMessageSeeServlet</servlet-name>
    <servlet-class>servlets.HouMessageSeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouMessageSeeServlet</servlet-name>
    <url-pattern>/learning/HouMessageSeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouWordsServlet</display-name>
    <servlet-name>HouWordsServlet</servlet-name>
    <servlet-class>servlets.HouWordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouWordsServlet</servlet-name>
    <url-pattern>/learning/HouWordsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>My_IndexMessageServlet</display-name>
    <servlet-name>My_IndexMessageServlet</servlet-name>
    <servlet-class>servlets.My_IndexMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>My_IndexMessageServlet</servlet-name>
    <url-pattern>/learning/My_IndexMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentCenterServlet</display-name>
    <servlet-name>StudentCenterServlet</servlet-name>
    <servlet-class>servlets.StudentCenterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentCenterServlet</servlet-name>
    <url-pattern>/learning/studentct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookServlet</display-name>
    <servlet-name>SearchBookServlet</servlet-name>
    <servlet-class>servlets.SearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookServlet</servlet-name>
    <url-pattern>/learning/studentdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookseeServlet</display-name>
    <servlet-name>BookseeServlet</servlet-name>
    <servlet-class>servlets.BookseeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookseeServlet</servlet-name>
    <url-pattern>/learning/bookssee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCourseServlet</display-name>
    <servlet-name>SelectCourseServlet</servlet-name>
    <servlet-class>servlets.SelectCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCourseServlet</servlet-name>
    <url-pattern>/learning/classsee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShowUpass</display-name>
    <servlet-name>UpdateShowUpass</servlet-name>
    <servlet-class>servlets.UpdateShowUpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShowUpass</servlet-name>
    <url-pattern>/learning/updateShowUpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUpass</display-name>
    <servlet-name>UpdateUpass</servlet-name>
    <servlet-class>servlets.UpdateUpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUpass</servlet-name>
    <url-pattern>/learning/updateUpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUsersServlet</display-name>
    <servlet-name>ShowUsersServlet</servlet-name>
    <servlet-class>servlets.ShowUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUsersServlet</servlet-name>
    <url-pattern>/houtai/ShowUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>servlets.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/learning/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Course_Servlet</display-name>
    <servlet-name>Course_Servlet</servlet-name>
    <servlet-class>servlets.Course_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_Servlet</servlet-name>
    <url-pattern>/learning/Course_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OneUsersServlet</display-name>
    <servlet-name>OneUsersServlet</servlet-name>
    <servlet-class>servlets.OneUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneUsersServlet</servlet-name>
    <url-pattern>/learning/OneUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HoutaiCourseServlet</display-name>
    <servlet-name>HoutaiCourseServlet</servlet-name>
    <servlet-class>servlets.HoutaiCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HoutaiCourseServlet</servlet-name>
    <url-pattern>/learning/houtaiCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCourseServlet</display-name>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <servlet-class>servlets.UpdateCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <url-pattern>/learning/updateCourse1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCourseServlet</display-name>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <servlet-class>servlets.DeleteCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <url-pattern>/learning/deleteCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseServlet</display-name>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>servlets.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/learning/addCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCourseServlet2</display-name>
    <servlet-name>UpdateCourseServlet2</servlet-name>
    <servlet-class>servlets.UpdateCourseServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourseServlet2</servlet-name>
    <url-pattern>/learning/updateCourse2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseShowServlet</display-name>
    <servlet-name>AddCourseShowServlet</servlet-name>
    <servlet-class>servlets.AddCourseShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseShowServlet</servlet-name>
    <url-pattern>/learning/addCourseShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUsers2</display-name>
    <servlet-name>UpdateUsers2</servlet-name>
    <servlet-class>servlets.UpdateUsers2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUsers2</servlet-name>
    <url-pattern>/learning/updateUsers2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XuankeCourseServlet</display-name>
    <servlet-name>XuankeCourseServlet</servlet-name>
    <servlet-class>servlets.XuankeCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XuankeCourseServlet</servlet-name>
    <url-pattern>/learning/XuankeCourseServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>listeners.LoginListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>DataManagerServlet</display-name>
    <servlet-name>DataManagerServlet</servlet-name>
    <servlet-class>servlets.DataManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataManagerServlet</servlet-name>
    <url-pattern>/learning/datamanager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDataServlert</display-name>
    <servlet-name>AddDataServlert</servlet-name>
    <servlet-class>servlets.AddDataServlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDataServlert</servlet-name>
    <url-pattern>/learning/adddata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelDataServlert</display-name>
    <servlet-name>DelDataServlert</servlet-name>
    <servlet-class>servlets.DelDataServlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDataServlert</servlet-name>
    <url-pattern>/learning/deldata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchClassServlert</display-name>
    <servlet-name>SearchClassServlert</servlet-name>
    <servlet-class>servlets.SearchClassServlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchClassServlert</servlet-name>
    <url-pattern>/learning/studentdatadel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDataServlert</display-name>
    <servlet-name>UpdateDataServlert</servlet-name>
    <servlet-class>servlets.UpdateDataServlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDataServlert</servlet-name>
    <url-pattern>/learning/updatedata1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDataYY</display-name>
    <servlet-name>UpdateDataYY</servlet-name>
    <servlet-class>servlets.UpdateDataYY</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDataYY</servlet-name>
    <url-pattern>/learning/updatedatayy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersControlServlert</display-name>
    <servlet-name>UsersControlServlert</servlet-name>
    <servlet-class>servlets.UsersControlServlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersControlServlert</servlet-name>
    <url-pattern>/learning/userscontrol</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserTcServlet</display-name>
    <servlet-name>AddUserTcServlet</servlet-name>
    <servlet-class>servlets.AddUserTcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserTcServlet</servlet-name>
    <url-pattern>/learning/tezhuce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScoreServlet</display-name>
    <servlet-name>ScoreServlet</servlet-name>
    <servlet-class>servlets.ScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreServlet</servlet-name>
    <url-pattern>/learning/ScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendDeleteServlet</display-name>
    <servlet-name>FriendDeleteServlet</servlet-name>
    <servlet-class>servlets.FriendDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendDeleteServlet</servlet-name>
    <url-pattern>/learning/FriendDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUserseeServlert</display-name>
    <servlet-name>SelectUserseeServlert</servlet-name>
    <servlet-class>servlets.SelectUserseeServlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUserseeServlert</servlet-name>
    <url-pattern>/learning/usersee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUsersServlert</display-name>
    <servlet-name>DelUsersServlert</servlet-name>
    <servlet-class>servlets.DelUsersServlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUsersServlert</servlet-name>
    <url-pattern>/learning/delusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNewUsersServlert</display-name>
    <servlet-name>UpdateNewUsersServlert</servlet-name>
    <servlet-class>servlets.UpdateNewUsersServlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNewUsersServlert</servlet-name>
    <url-pattern>/learning/updausers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index_Servlet</display-name>
    <servlet-name>Index_Servlet</servlet-name>
    <servlet-class>servlets.Index_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index_Servlet</servlet-name>
    <url-pattern>/Index_Servlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/learning/*</url-pattern>
  </filter-mapping>
</web-app>